{{#if resume.awards.length}}
<div id="awards" class="col-md-12">
	<hr class="col-md-9 col-md-offset-3" />
	<div class="container-fluid">
		<div class="row">


		<div class="col-md-3">
			<h3>Awards</h3>
		</div>


		<div class="col-md-9">
			<div class="container-fluid">
				<div class="row">
					<ul>
					{{#each resume.awards}}
						{{#if title}}
						<li>
							{{title}}
						</li>
						{{/if}}
					{{/each}}
					</ul>
				</div>
			</div>
		</div>

		</div>
	</div>
</div>
{{/if}}